[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[51124E036FC8EAE6]
row=1
col=0

[F81070E01070A772]
row=2
col=0

[3593-047C]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/fumo]
row=5
col=0

